<div class="about-page">
  <!-- Section texte avec le titre -->
  <div class="about-text">
    <h2>À propos de nous</h2>
  </div>

  <!-- Section avec l'image centrée -->
  <div class="about-image">
    <img src="assets/smala-gauloise.png" alt="Figurines Astérix et Obélix" />
  </div>

  <!-- Section texte avec description -->
  <div class="about-text">
    <p>
      "Au Petit Village" est une entreprise spécialisée dans la création de
      figurines faites main inspirées de la bande dessinée Astérix et Obélix.
      Nous mettons un point d'honneur à utiliser des matériaux de qualité pour
      créer des produits fidèles à l'univers des célèbres Gaulois.
    </p>
  </div>
</div>
